@{
    ViewData["Title"] = "Privacy Policy";
}
<!-- Local Bootstrap CSS -->
<link href="~/css/bootstrap.css" rel="stylesheet">
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
