@model IEnumerable<SampleApp.Models.MediaContent>

<h2>Media Contents</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="@item.ImageData" alt="Media Image" class="card-img-top" />
            </div>
        </div>
    }
</div>
